[Desktop Entry]
Version=1.0
Type=Application
StartupNotify=true
Terminal=false
Name=Typora
GenericName=Markdown Editor
Comment=A minimal Markdown reading and writing app
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;
Icon=${SNAP}/meta/gui/icon.png
Exec=typora %U
